<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>position X</ion-label>
    <ion-input type="text" [(ngModel)]="positionX"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>position Y</ion-label>
    <ion-input type="text" [(ngModel)]="positionY"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>position Z</ion-label>
    <ion-input type="text" [(ngModel)]="positionZ"></ion-input>
  </ion-item>


  <ion-card color="light" class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle>
      <ion-card-title>Game of Thrones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
